server:
  port: 8091
spring:
  profiles:
    active: "prod"
  # Simpler structure, often preferred:
  config:
    import: "optional:configserver:http://localhost:9999/"
  application:
    name: theme

  datasource:
    url: 'jdbc:h2:mem:themedb'
  h2:
    console:
      enabled: true
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
  cloud:
    config:
      enabled: false
    discovery:
      enabled: false
  eureka:
    client:
    service-url:
    defaultZone: 'http://localhost:8761/eureka/'

management:
  endpoints:
    web:
      exposure:
        include: '*'

eureka:
  instance:
    prefer-ip-address: true

build:
  version : 1.0
author:
  name: "fatma kerkeni Formation"
  email: "fatmaker@gmail.com Formation"
