version: '3.8'

services:
  mysqldb:
    image: mysql:8.0
    container_name: mysqldb1
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: test
      MYSQL_ROOT_HOST: '%'
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  departments-ms:
    build: ./theme-microservice
    container_name: theme-ms
    ports:
      - "8091:8091"
    environment:
      SPRING_DATASOURCE_URL: "jdbc:mysql://mysqldb:3306/test?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC"
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: root
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
    depends_on:
      mysqldb:
        condition: service_healthy

volumes:
  mysql_data: